body {
	margin:0px;
	
}

body, input, select, textarea, button, .ui-btn {
	/*
  line-height:1 !important;
  */
}

#page {
	background: -webkit-linear-gradient(top, rgba(145,151,158,1) 0%,rgba(49,99,155,1) 89%,rgba(0,48,99,1) 100%);
	margin:1px;
}

#header {
	text-shadow : none !important;
}

#header.default{	
	height:72px;
}

#header.login{	
	height:56px;
}


#header .toph {
	position:relative;
}

#header .toph .lefth{
	 /*   position: relative; */
    display: inline-block;
    padding-left: 6px;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    /* border: 1px solid; */
}

#header .toph .righth{
	float: right;
	padding-top:6px;
	padding-right:6px;
	vertical-align:middle;
}

#header .bottom {
	height:46px;
	padding-top: 6px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #088A08;
}

#main_ci {
	/*position: relative; */
    display: inline-block;
    font-size: 20px;
    text-shadow: none;
    /* top: -20px; */
    color: #F2F2F2;
    vertical-align: middle;
    /* line-height: 30px; */
    height: 30px;
}

#miner_name {
	position: relative;
    display: inline-block;
    font-size: 20px;
    text-shadow: none;
    /* top: -20px; */
    color: #F2F2F2;
    vertical-align: middle;
    /* line-height: 30px; */
    height: 43px;
}

#clock {
	   position: relative;
    display: inline-block;
    font-size: 26px;
    text-shadow: none;
    /* top: -20px; */
    color: #F2F2F2;
    font-family: "digitalFont";
    padding-left: 30px;
    font-weight: normal;
    vertical-align: middle;
    /* line-height: 30px; */
    height: 40px;
}









